<form action="/search-company" method="post">
<label for=""> Introduce company name</label>
<input type="text" name="company">
<input type= "submit">
</form>
{{#each lista}}
<br>
<br>
{{this.name}}
<br>
{{this.symbol}}
<br>{{this.region}}
<br>
<a href="/show-company?symbol={{symbol}}">Show details</a>

<form action="/accion" method="post">
<input type="hidden" value="{{this.name}}" name="name">
<input type="hidden" value="{{this.symbol}}" name="symbol">
<input type= "submit" value="Guardar">
</form>


{{/each}} 